{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static "css/ControlFecha.css" %} media="screen">
{% endblock extra_css %}

{% block content %}
<section class="u-clearfix u-section-1" id="sec-35eb">
  <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-font-oswald u-text u-text-default u-text-1">Control de Fechas</h1>
        <a href="" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-1">Nuevo Producto </a>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-gradient u-image u-section-2" id="carousel_137e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-btn-round u-calendar u-expanded-width-xs u-radius u-spacing-30 u-white u-calendar-1" data-href="#sec-e3fe" data-calendar-token="eyJhbGciOiJSU0EtT0FFUCIsImVuYyI6IkEyNTZHQ00ifQ.aNUiYWAGJ5o59AxZ2QTm80Xc2uWx79q_lyEZ774LvE5GJXmBQKIA8XGV2jEXSdygzKLy_SXLXDfoCh4olPtOX4ReFitWc9aPcaF66h26tskgcveGAfnd35lOMcM43t75wiI4TYDbquSYSF5ucnFwJQ9h2KSMbY1LE4HDBbySLz_9zymqPVniIYQsqHJmd4tLu-cL1-qk8ty1dvU11_IUTB_zZKoeFpRFYsKuNx8YxBiA-BbBW4varxvEn8BARes-S467zDRPfrgHR28d-zZ3Clbobo2dWmU2snB9rSRaGGAdEW5HJNRH4JxcASP5SxNH32zSVWlmNv-2A-Geeh18Ug.4hNf2caej35FNudT.u0N5_Yd8ZiXF-0smZYjjFFFmVPywu-POMXxpB45Sljx3KW8R9OyDAKcLYnrH-R2cqNFjzKt7sIvqRHU-5TVQUpivIgjw.msLTBRbHLOyPZDNQ0enPbA">
          <div class="u-datepicker-container" style="position: relative;">
            <div class="datepicker"></div>
          </div>
          <div class="u-calendar-time-container">
            <div class="u-calendar-time-container-inner">
              <div class="u-calendar-timezone u-text"></div>
              <ul class="u-calendar-time-list u-unstyled" style="height: 431px;"><li class="fake u-active-grey-30 u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn-round u-calendar-time-slot u-grey-15 u-hidden u-hover-grey-30 u-radius u-text-black u-text-hover-white u-calendar-time-slot-1">--:--</li></ul>
            </div>
          </div>
          <div class="u-calendar-no-slots-message">There are no available time slots for this date.</div>
          <div class="u-calendar-success-message">You have successfully booked the appointment.</div>
          <div class="u-calendar-conflict-message">Unable to book the appointment for this time slot. Please book another one.</div>
          <div class="u-calendar-error-message">An unexpected error occurred.</div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-3" id="carousel_e61a">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
          <table class="u-table-entity u-table-entity-1">
            <colgroup>
              <col width="25%">
              <col width="25%">
              <col width="25%">
              <col width="25%">
            </colgroup>
            <thead class="u-align-center u-custom-font u-font-merriweather u-grey-10 u-table-header u-table-header-1">
              <tr>
                <th class="u-table-cell">Column 1 </th>
                <th class="u-table-cell">Column 2 </th>
                <th class="u-table-cell">Column 3 </th>
                <th class="u-table-cell">Column 4 </th>
              </tr>
            </thead>
            <tbody class="u-align-center u-table-alt-palette-1-base u-table-body">
              <tr>
                <td class="u-table-cell">Item #1</td>
                <td class="u-table-cell">Description</td>
                <td class="u-table-cell">Discount:</td>
                <td class="u-table-cell">$1.00</td>
              </tr>
              <tr>
                <td class="u-table-cell">Item #2</td>
                <td class="u-table-cell">Description</td>
                <td class="u-table-cell">Discount:</td>
                <td class="u-table-cell">$2.00</td>
              </tr>
              <tr>
                <td class="u-table-cell">Item #3</td>
                <td class="u-table-cell">Description</td>
                <td class="u-table-cell">Discount:</td>
                <td class="u-table-cell">$3.00</td>
              </tr>
              <tr>
                <td class="u-table-cell">Item #4</td>
                <td class="u-table-cell">Description</td>
                <td class="u-table-cell">Discount:</td>
                <td class="u-table-cell">$4.00</td>
              </tr>
            </tbody>
            <tfoot class="u-align-center u-table-footer u-table-footer-1">
              <tr>
                <td class="u-table-cell">All Items</td>
                <td class="u-table-cell">Description</td>
                <td class="u-table-cell">Your Total:</td>
                <td class="u-table-cell">$10.00</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </section>
    
    
    
    

  <section class="u-align-center u-black u-clearfix u-container-align-center u-container-style u-dialog-block u-opacity u-opacity-70 u-valign-middle u-dialog-section-7" id="sec-e3fe">
      <div class="u-align-center u-border-1 u-border-white u-container-align-center u-container-align-left-xl u-container-style u-dialog u-radius-5 u-shape-round u-white u-dialog-1">
        <div class="u-container-layout u-valign-top u-container-layout-1">
          <h2 class="u-align-left u-text u-text-1">Confirmar reserva</h2>
          <p class="u-align-left u-text u-text-palette-1-base u-text-2">9:30 - 10:00 AM, viernes 8 de noviembre de 2024</p>
          <div class="u-expanded-width u-form u-form-1">
            <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-19 u-form-vertical u-inner-form" style="padding: 0px;" source="email" name="form">
              <div class="u-form-group u-form-name u-form-group-1">
                <label for="name-3e72" class="u-form-control-hidden u-label">Name</label>
                <input type="text" placeholder="Enter your Name" id="name-3e72" name="name" class="u-border-grey-25 u-input u-input-rectangle u-radius u-input-1" required="">
              </div>
              <div class="u-form-email u-form-group u-form-group-2">
                <label for="email-3e72" class="u-form-control-hidden u-label">Email</label>
                <input type="email" placeholder="Enter a valid email address" id="email-3e72" name="email" class="u-border-grey-25 u-input u-input-rectangle u-radius u-input-2" required="">
              </div>
              <div class="u-align-left u-form-group u-form-submit u-form-group-3">
                <a href="#" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-palette-1-base u-radius-5 u-btn-1">Confirmar</a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
              <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
              <input type="hidden" value="" name="recaptchaResponse">
              <input type="hidden" name="formServices" value="59841a68-08ab-589f-06a9-81f4e62a8fdd">
            </form>
          </div>
        </div>
        <button class="u-dialog-close-button u-icon u-text-grey-50 u-icon-1">
          <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 413.348 413.348" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1ce9"></use></svg>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 413.348 413.348" id="svg-1ce9"><path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"></path></svg>
        </button>
      </div>
    </section><style>.u-dialog-section-7 .u-dialog-1 {
  width: 683px;
  min-height: 392px;
  height: auto;
  margin: 60px auto;
}

.u-dialog-section-7 .u-container-layout-1 {
  padding: 40px;
}

.u-dialog-section-7 .u-text-1 {
  font-size: 2.25rem;
  width: auto;
  margin: 0;
}

.u-dialog-section-7 .u-text-2 {
  width: auto;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-dialog-section-7 .u-form-1 {
  height: 204px;
  width: 601px;
  margin: 32px 0 0;
}

.u-dialog-section-7 .u-form-group-1 {
  width: 100%;
}

.u-dialog-section-7 .u-input-1 {
  --radius: 5px;
}

.u-dialog-section-7 .u-form-group-2 {
  width: 100%;
}

.u-dialog-section-7 .u-input-2 {
  --radius: 5px;
}

.u-dialog-section-7 .u-form-group-3 {
  width: 100%;
}

.u-dialog-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.125rem;
}

.u-dialog-section-7 .u-icon-1 {
  width: 15px;
  height: 15px;
  left: auto;
  top: 16px;
  position: absolute;
  right: 18px;
}

@media (max-width: 1199px) {
  .u-dialog-section-7 .u-dialog-1 {
    width: 683px;
  }
  
  .u-dialog-section-7 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-dialog-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-dialog-section-7 .u-dialog-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-dialog-section-7 .u-dialog-1 {
    width: 340px;
  }

  .u-dialog-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-dialog-section-7 .u-text-1 {
    font-size: 1.875rem;
  }
}</style>
{% endblock content %}
