{% extends "base.html" %}

  {% block content %}
  
  <section class="u-align-left-sm u-align-left-xs u-clearfix u-grey-10 u-section-1" id="carousel_e39f">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-palette-4-base u-preserve-proportions u-shape u-shape-circle u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
        <div class="u-align-left u-border-15 u-border-palette-4-base u-image u-image-circle u-image-1" data-image-width="1200" data-image-height="1200" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"></div>
        <div class="u-shape u-shape-svg u-text-palette-4-base u-shape-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
          <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style=""><use xlink:href="#svg-b6b2"></use></svg>
          <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-b6b2" style="enable-background:new 0 0 160 160;"><path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
	s80-35.8,80-80S124.2,0,80,0L80,0z"></path></svg>
        </div>
        <div class="data-layout-selected u-clearfix u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-layout-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-white u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                  <h2 class="u-align-center u-text u-text-1">Bienvenidos a mi sitio web</h2>
                  <p class="u-align-center u-text u-text-2">¡Bienvenido, y muchas gracias por su visita!<br>Este es un sitio donde estoy dispuesto a demostrar mis proyectos, habilidades, así como también información académica y compartir mis redes sociales.<br>¡Espero que disfrutes del contenido disponible! <br>
                    <br>
                  </p>
                  <a href="#" class="u-active-black u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-4-base u-radius-50 u-text-body-alt-color u-btn-1">leer más</a>
                </div>
              </div>
              <div class="u-container-align-left u-container-style u-layout-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-white u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <ul class="u-align-left u-custom-list u-text u-text-default u-text-3">
                    <li>
                      <div class="u-lista-icono">
                        <div>—</div>
                      </div>
                    </li>
                    <li>
                      <div>Proyectos</div>
                    </li>
                    <li>
                      <div class="u-lista-icono">
                        <div>—</div>
                      </div>
                    </li>
                    <li>
                      <div>Información académica</div>
                    </li>
                    <li>
                      <div class="u-lista-icono">
                        <div>—</div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <br>
                      </div>
                    </li>
                    <li>
                      <div class="u-lista-icono">
                        <div>—</div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <br>
                      </div>
                    </li>
                    <li>
                      <div class="u-lista-icono">
                        <div>—</div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <br>
                      </div>
                    </li>
                    <li>
                      <div class="u-lista-icono">
                        <div>—</div>
                      </div>
                    </li>
                    <li>
                      <br>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {% endblock content %}
    
    
    
   

  
