{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href={% static "css/Proyectos.css" %} media="screen">
{% endblock extra_css %}
{% block content %}

<section class="u-clearfix u-container-align-center u-section-1" id="carousel_6c1a">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">Mis Proyectos</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <a href="{% url "controlFecha" %}">

              <div class="u-container-style u-list-item u-palette-1-base u-radius u-repeater-item u-shape-round u-list-item-1" data-animation-name="flipIn" data-animation-duration="1500" data-animation-direction="X" data-animation-delay="500">
                <div class="u-container-layout u-similar-container u-container-layout-1">
                  <img class="u-expanded-width u-image u-image-round u-radius u-image-1" src={% static "img\photo-1601599561213-832382fd07ba.jpeg" %}>
                  <h6 class="u-align-left u-text u-text-2">Aplicación móvil</h6>
                  <h4 class="u-align-left u-text u-text-3">Control de Fechas</h4>
                </div>
              </div>
            </a>
            <div class="u-container-style u-list-item u-palette-1-base u-radius u-repeater-item u-shape-round u-list-item-2" data-animation-name="flipIn" data-animation-duration="1500" data-animation-direction="X" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <img class="u-expanded-width u-image u-image-round u-radius u-image-2" src="images/a7df0b4f1d7ec7e82657770396763a8f0372a0ae144d319d82ae7b6ee1a1cc823f3c39d20e5f5188e8251e41f51b25b27efd7d6269b7fb19699608_1280.jpg" data-image-width="1280" data-image-height="853">
                <h6 class="u-align-left u-text u-text-4">Aplicación móvil</h6>
                <h4 class="u-align-left u-text u-text-5">Aplicación de montaña</h4>
              </div>
            </div>
            <div class="u-container-style u-list-item u-palette-1-base u-radius u-repeater-item u-shape-round u-list-item-3" data-animation-name="flipIn" data-animation-duration="1500" data-animation-direction="X" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <img class="u-expanded-width u-image u-image-round u-radius u-image-3" src="images/a7df0b4f1d7ec7e82657770396763a8f0372a0ae144d319d82ae7b6ee1a1cc823f3c39d20e5f5188e8251e41f51b25b27efd7d6269b7fb19699608_1280.jpg" data-image-width="1280" data-image-height="853">
                <h6 class="u-align-left u-text u-text-6">Diseño web</h6>
                <h4 class="u-align-left u-text u-text-7">Sitio de recetas</h4>
              </div>
            </div>
            <div class="u-container-style u-list-item u-palette-1-base u-radius u-repeater-item u-shape-round u-list-item-4" data-animation-name="flipIn" data-animation-duration="1500" data-animation-direction="X" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <img class="u-expanded-width u-image u-image-round u-radius u-image-4" src="images/a7df0b4f1d7ec7e82657770396763a8f0372a0ae144d319d82ae7b6ee1a1cc823f3c39d20e5f5188e8251e41f51b25b27efd7d6269b7fb19699608_1280.jpg" data-image-width="1280" data-image-height="853">
                <h6 class="u-align-left u-text u-text-8">víveres</h6>
                <h4 class="u-align-left u-text u-text-9">Tienda de moda</h4>
              </div>
            </div>
            <div class="u-container-style u-list-item u-palette-1-base u-radius u-repeater-item u-shape-round u-list-item-5" data-animation-name="flipIn" data-animation-duration="1500" data-animation-direction="X" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <img class="u-expanded-width u-image u-image-round u-radius u-image-5" src="images/a7df0b4f1d7ec7e82657770396763a8f0372a0ae144d319d82ae7b6ee1a1cc823f3c39d20e5f5188e8251e41f51b25b27efd7d6269b7fb19699608_1280.jpg" data-image-width="1280" data-image-height="853">
                <h6 class="u-align-left u-text u-text-10">Diseño web</h6>
                <h4 class="u-align-left u-text u-text-11">Estudio de Interiores</h4>
              </div>
            </div>
            <div class="u-container-style u-list-item u-palette-1-base u-radius u-repeater-item u-shape-round u-list-item-6" data-animation-name="flipIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="X">
              <div class="u-container-layout u-similar-container u-container-layout-6">
                <img class="u-expanded-width u-image u-image-round u-radius u-image-6" src="images/a7df0b4f1d7ec7e82657770396763a8f0372a0ae144d319d82ae7b6ee1a1cc823f3c39d20e5f5188e8251e41f51b25b27efd7d6269b7fb19699608_1280.jpg" data-image-width="1280" data-image-height="853">
                <h6 class="u-align-left u-text u-text-12">Diseño web</h6>
                <h4 class="u-align-left u-text u-text-13">Sitio web personal</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    {% endblock content %}
    
    